body {
    padding: 15px;
    min-width: 350px;
    background-color: #1f1f1f;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
}


.container::-webkit-scrollbar {
    width: 8px; 
}

.container::-webkit-scrollbar-track {
    background: #1f1f1f; 
}

.container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.title {
    text-align: center;
    font-size: 33px;
    margin-bottom: 30px;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.section-content {
    font-size: 16px;
    outline: 1px solid rgba(255, 255, 255, 0.404);
    border-radius: 10px;
    padding: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #141414;
    color:white;
}

.input-label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;

}

.shared-field {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #141414;
    box-shadow: 
        inset 0px 0px 10px rgba(0, 0, 0, 0.3), /* Inner shadow */
        inset 0px 0px 10px rgba(0, 0, 0, 0.3), /* Inner shadow */
        inset 0px 0px 10px rgba(0, 0, 0, 0.3), /* Inner shadow */
        inset 0px 0px 10px rgba(0, 0, 0, 0.3); /* Inner shadow */
    border-radius: 12px;
    color: white;
}
.input-field{
    width: 90%;
}

.drop-down{
    flex-grow: 1;
}

.tab {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-left: 5%;
    justify-content: space-between;
    background-color: #141414;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 
        inset 0px 0px 10px rgba(0, 0, 0, 0.3), /* Inner shadow */
        inset 0px 0px 10px rgba(0, 0, 0, 0.3), /* Inner shadow */
        inset 0px 0px 10px rgba(0, 0, 0, 0.3), /* Inner shadow */
        inset 0px 0px 10px rgba(0, 0, 0, 0.3); /* Inner shadow */
  }
  
  /* Style the buttons inside the tab */
.tab button {
    background-color: #141414;
    color: white;
    float: left;
    width: 130px;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    padding: 10px 14px;
    transition: 0.3s;
    font-size: 23px;

  }
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: transparent;
    box-shadow: 0px 0px 15px rgb(0, 0, 0); /* Outer glow */


  }
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #1F1F1F;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
}
.stack{
    margin-bottom: -40px;
}

.tabcontent {
    padding: 6px 12px;
    padding-bottom: 0px;
    margin: 0px 12px;
  }

.button-round
{
    padding: 10px;
    height: 45px;
    width: 45px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #1F1F1F;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.button-round:hover {
    background-color: #0056b3;
}
.url-submint {
    position: relative;
    top: -54px;
    left: 84%;
}
.email-url-submint{
    background-color: #141414;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 10px;

}

.row{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;

}