<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing  Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin-page.css') }}">
    <script src="{{ url_for('static', filename='js/admin-page.js') }}"></script>
</head>

<body>

        <div class="appabar">
            <h1 class="titel">Cybersecurity X Ai </h1>
            <a class="boxBtn logout" href="/logout">Logout</a>
        </div>

            
        <div class="centerBox">
            <h2 >Test Models</h2>
            
            <div class="subBox">
                <div class="row">
                    <div>
                        <label for="url" class="high-light-Text">Enter URL</label>
                        <div class="stack">
                            <input type="text" id="url" class="text-input" name="url" placeholder="Link">
                            <button id="urlBtn" class="round-button">></button>
                        </div>
                    </div>
                    <P class="spacer"></P>
                    <div>
                        <label for="email" class="high-light-Text">Enter Email Header</label>
                        <div class="stack">
                            <textarea id="email" class="text-input" name="email" placeholder="Header" rows="1" ></textarea>
                            <button id="emailBtn" class="round-button">></button>
                        </div>
                    </div>
                </div>
                <p id ="result" class="result">Resutls will show here</p> 
            </div>
            <h2>Train Models</h2>
            <div class="subBox">
                <div class="row">
                    <select id="trainModel" class="text-input">
                        <option value="url">Url Model width collected dataset</option>
                        <option value="email">Email Model width collected dataset</option>
                    </select>
                    <button id="trainBtn" class='boxBtn'>Train Model</button>
                </div>
                <p>Note: The data colocted will have labers predicted by the model</p>
            </div>
        </div>



    </body>


</html>
