<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhishGuard</title>
    <link rel="stylesheet" type="text/css" href="../static/css/extension.css">
</head>

<body  class="container"> 

    <div id="autoDetection">

        <h1 class="title">Phishing Detection</h1>

        <div class="tab">
            <button class="tablinks" id="urlsTab">Url</button>
            <button class="tablinks" id="emailTab">Email</button>
        </div>
           
        <div id="URLs" class="tabcontent">
            <h3 class="section-title">Check Url or Link</h3>
            
            <div class="stack">
                <label for="urlInput" class="input-label"></label>
                <input type="text" id="urlInput" name="urlInput" class="shared-field input-field" placeholder="Enter Url">
                <button id="submitUrl" class="button-round url-submint">></button>
            </div>
        
            <h3 class="section-title">Current Page Detection</h3>
            <P id="currentPageink"></P>
            <p id="currentTabUrl" class="section-content">Checking URL</p>
        
            
        </div>
        


        <div id="Email" class="tabcontent">
            <h3 class="section-title">Links in Header Detection</h3>
            <div class="row">
                <select id="selectOption" class="shared-field drop-down" placeholder="Links">
                    <option value="">Links in header</option>
                </select>
                <button id="submitEmail" class="button-round email-url-submint" hidden>></button>
            </div>
            <br>
            <h3 class="section-title">Email Header Detection</h3>
            <P id="emailHeader"></P>
            <p id="currentEmail" class="section-content">Checking Email</p>
        
        </div>
    
    </div>
    <br>

    <script src="../static/js/popup.js"></script>

</body>

</html>
